.launching-soon-wrap {
    padding: 40px 50px;
    background: #adaddd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.launching-soon-content {
    @include translate(-50%, -50%);
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: auto;
    .head-text {
        font-size: 2rem;
    }
    .sub-text {
        font-size: 1.25rem;
    }
}
