<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
        <meta name="author" content="{{ site.name }}" />
        <meta name="description" content="{{ site.description }}">
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    </head>

    <body>
        <div class="launching-soon-wrap">
            <div class="launching-soon-content">
                <p class="head-text">Good things take time. So will be launching my blog with some awesome front end related articles soon.</p>
                <p class="sub-text">Till then you can mail/tweet/message me regarding any suggestions, comments or even just say a hello!</p>
                <div style="margin-top: 50px">
                    {% include svg-icons.html %}
                </div>
            </div>
        </div>
        {% include analytics.html %}
    </body>
</html>
